## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [3]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [5]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [8]:
# Use this space to do any additional research
# and familiarize yourself with the data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [44]:
# What three item categories had the most entries?

In [17]:
# For the category with the most entries, which subcategory had the most entries?
df[df['category'] == df['category'].value_counts().idxmax()]['subcategory'].value_counts().head(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [18]:
# Which five clients had the most entries in the data?
top_5_clients = df['client_id'].value_counts().nlargest(5).index
print(top_5_clients)

Index([33615, 66037, 46820, 38378, 24741], dtype='int64', name='client_id')

In [15]:
# Store the client ids of those top 5 clients in a list.
top_5_client_ids = df['client_id'].value_counts().nlargest(5).index.tolist()
print(top_5_client_ids)

[33615, 66037, 46820, 38378, 24741]

In [16]:
# How many total units (the qty column) did the client with the most entries order order?
client_with_most_entries = df['client_id'].value_counts().idxmax()
df[df['client_id'] == client_with_most_entries]['qty'].sum()

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [45]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['line_subtotal'] = df['unit_price'] * df['qty']
print(df[['unit_price', 'qty', 'line_subtotal']])

   unit_price  qty  line_subtotal
0     1096.80  105      115164.00
1       24.95   21         523.95
2       13.52   39         527.28

In [43]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
data = {
    'unit_price': [1096.80, 24.95, 13.52],
    'unit_weight': [7.50, 1.49, 1.68],
    'qty': [105, 21, 39]
}

df = pd.DataFrame(data)

df['total_weight'] = df['unit_weight'] * df['qty']

def calculate_shipping_price(weight):
    if weight > 50:
        return weight * 7  
    else:
        return weight * 10  

df['shipping_price'] = df['total_weight'].apply(calculate_shipping_price)
print(df)

   unit_price  unit_weight  qty  total_weight  shipping_price
0     1096.80         7.50  105        787.50         5512.50
1       24.95         1.49   21         31.29          312.90
2       13.52         1.68   39         65.52          458.64

In [42]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
data = {
    'line_subtotal': [115164.00, 523.95, 527.28],
    'shipping_price': [5512.50, 312.90, 458.64]
}

df = pd.DataFrame(data)

sales_tax_rate = 0.0925

df['line_price'] = df['line_subtotal'] + df['shipping_price'] + (df['line_subtotal'] + df['shipping_price']) * sales_tax_rate

print(df)

   line_subtotal  shipping_price     line_price
0      115164.00         5512.50  131839.076250
1         523.95          312.90     914.258625
2         527.28          458.64    1077.117600

In [46]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
data = {
    'first': ['Donald', 'Tiffany', 'Shannon'],
    'last': ['Harding', 'Myers', 'Watson'],
    'unit_price': [1096.80, 24.95, 13.52],
    'unit_cost': [762.71, 15.09, 7.86],
    'unit_weight': [7.50, 1.49, 1.68],
    'qty': [105, 21, 39],
    'shipping_price': [5512.50, 312.90, 458.64]
}

df = pd.DataFrame(data)


df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']


print(df)

     first     last  unit_price  unit_cost  unit_weight  qty  shipping_price  \
0   Donald  Harding     1096.80     762.71         7.50  105         5512.50
1  Tiffany    Myers       24.95      15.09         1.49   21          312.90
2  Shannon   Watson       13.52       7.86         1.68   39          458.64

   line_cost
0   85597.05
1     629.79
2     765.18

In [48]:
# Create a column for the profit of each line using line cost and line price
data = {'order_id': [8953482, 8069089, 1902144],
        'order_date': ['2023-04-28', '2023-05-19', '2023-01-29'],
        'order_week': [17, 20, 4],
        'order_year': [2023, 2023, 2023],
        'unit_cost': [762.71, 15.09, 7.86],
        'unit_weight': [7.50, 1.49, 1.68],
        'qty': [105, 21, 39],
        'line_number': [1, 0, 6],
        'line_subtotal': [115164.00, 523.95, 527.28],
        'total_weight': [787.50, 31.29, 65.52],
        'shipping': [510, 21, 43],
        'line_cost':[76271, 316.89, 307.08]} 


df = pd.DataFrame(data)



df['line_cost'] = df['unit_cost'] * df['qty']



df['profit'] = df['line_subtotal'] - df['line_cost']

print(df)

   order_id  order_date  order_week  order_year  unit_cost  unit_weight  qty  \
0   8953482  2023-04-28          17        2023     762.71         7.50  105
1   8069089  2023-05-19          20        2023      15.09         1.49   21
2   1902144  2023-01-29           4        2023       7.86         1.68   39

   line_number  line_subtotal  total_weight  shipping  line_cost    profit
0            1      115164.00        787.50       510   80084.55  35079.45
1            0         523.95         31.29        21     316.89    207.06
2            6         527.28         65.52        43     306.54    220.74

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [15]:
# Check your work using the totals above

Order 2742071 total: $152811.89
Order 2173913 total: $162388.71
Order 6128929 total: $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [16]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.

33615: $8377308.52
66037: $10259514.79
46820: $9743794.36
38378: $12906550.87
24741: $82268892.02

In [53]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
data = {
    'client_id': [33615, 66037, 46820, 38378, 24741],
    'qty': [64313, 43018, 75768, 73667, 239862],
    'shipping_price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'line_price': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'line_cost': [6175313.91, 7004482.98, 7007191.64, 9634720.98, 45688899.71],
    'line_profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
}

# Create a DataFrame
df = pd.DataFrame(data)
print(df)
summary = {
    'Total Units Purchased': df['qty'].sum(),
    'Total Shipping Price': df['shipping_price'].sum(),
    'Total Revenue': df['line_price'].sum(),
    'Total Profit': df['line_profit'].sum()
}

# Create a summary DataFrame
summary_df = pd.DataFrame(summary, index=[0])

# Display the resulting summary DataFrame
print(summary_df)

   client_id     qty  shipping_price   line_price    line_cost  line_profit
0      33615   64313      1828984.89   8377308.52   6175313.91   2201994.61
1      66037   43018      1395151.85  10259514.79   7004482.98   3255031.81
2      46820   75768      1601448.84   9743794.36   7007191.64   2736602.72
3      38378   73667      3429455.40  12906550.87   9634720.98   3271829.89
4      24741  239862      5126448.37  82268892.02  45688899.71  36579992.31
   Total Units Purchased  Total Shipping Price  Total Revenue  Total Profit
0                 496628           13381489.35   1.235561e+08   48045451.34

In [65]:
data = {
    'Client ID': [33615, 66037, 46820, 38378, 24741],
    'Units': [64313, 43018, 75768, 73667, 239862],
    'Shipping': [1.828995, 1.395152, 1.601449, 3.429455, 5.126448],
    'Total Revenue': [8.377309, 10.259515, 9.743794, 12.096651, 82.268892],
    'Total Cost': [6.175344, 7.004483, 7.007192, 9.634721, 45.688900],
    'Total Profit': [2.201995, 3.255032, 2.736063, 3.321830, 36.579992],
}

# Create the DataFrame
df = pd.DataFrame(data)

# Rename the columns for presentation
df.columns = [
    'Client ID',
    'Units Sold',
    'Shipping Cost (Millions)',
    'Total Revenue (Millions)',
    'Total Cost (Millions)',
    'Net Profit (Millions)',
]

# Define a function to convert to millions and format the output
def currency_format_millions(amount):
    """Convert a dollar amount to millions and format as a string."""
    return f"${amount:.2f} million"

# List of money columns to apply the formatting
money_columns = [
    'Shipping Cost (Millions)',
    'Total Revenue (Millions)',
    'Total Cost (Millions)',
    'Net Profit (Millions)',
]

# Apply the formatting function to the money columns
for column in money_columns:
    df[column] = df[column].apply(currency_format_millions)

# Rename columns to reflect the change in format
df.columns = [
    'Client ID',
    'Units Sold',
    'Shipping Cost (Formatted)',
    'Total Revenue (Formatted)',
    'Total Cost (Formatted)',
    'Net Profit (Formatted)',
]

# Display the formatted DataFrame
print(df)

   Client ID  Units Sold Shipping Cost (Formatted) Total Revenue (Formatted)  \
0      33615       64313             $1.83 million             $8.38 million
1      66037       43018             $1.40 million            $10.26 million
2      46820       75768             $1.60 million             $9.74 million
3      38378       73667             $3.43 million            $12.10 million
4      24741      239862             $5.13 million            $82.27 million

  Total Cost (Formatted) Net Profit (Formatted)
0          $6.18 million          $2.20 million
1          $7.00 million          $3.26 million
2          $7.01 million          $2.74 million
3          $9.63 million          $3.32 million
4         $45.69 million         $36.58 million

In [ ]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
sorted_df = df.sort_values(by='Total Profit (Millions)', key=lambda x: x.str.replace('$', '').str.replace(' million', '').astype(float), ascending=False)

In [ ]:
Pandas DataFrame containing financial data, including units sold, shipping costs, total revenue, total costs, and total profit for various clients. It formats the monetary values in millions and sorts the DataFrame by total profit in descending order, assigning the sorted result to a new DataFrame. 
This process enables a clear analysis of client profitability based on formatted financial metrics